.login, .register, .content-status, .content-body{
    width:40%;
    margin: 50px auto;

    h2{
        font-weight: 600;
        color: #999;
    }

    @media only screen and (max-width: 640px) {
		width:100%;
    }
    
    .image-preview{
        height:150px; 
        width:100%; 
        margin:5px 0;
    }
}

hr{
    width: 80%;
    border: 1px solid #888;
}

.container-body{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

    img{
        float: left;
        max-width: 60px;
        max-height: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

    img.right{
        float: right;
        margin-left: 20px;
        margin-right:0;
    }

    &:after {
        content: "";
        clear: both;
        display: table;
    }

}

.darker-green {
    border-color: #ccc;
    background-color: rgb(137, 214, 93);
}

.header-title > *{
    display: inline-block;
}

.logout, .upload{
    color:white !important;
}

