@import 'content';
@import 'header';

body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background: #dfdfdf;
}

header {
    .image-cover {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        
        object-fit: cover;
        object-position: center right;
    }
}