.login, .register, .content-status, .content-body {
  width: 40%;
  margin: 50px auto;
}

.login h2, .register h2, .content-status h2, .content-body h2 {
  font-weight: 600;
  color: #999;
}

@media only screen and (max-width: 640px) {
  .login, .register, .content-status, .content-body {
    width: 100%;
  }
}

.login .image-preview, .register .image-preview, .content-status .image-preview, .content-body .image-preview {
  height: 150px;
  width: 100%;
  margin: 5px 0;
}

hr {
  width: 80%;
  border: 1px solid #888;
}

.container-body {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.container-body img {
  float: left;
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container-body img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.container-body:after {
  content: "";
  clear: both;
  display: table;
}

.darker-green {
  border-color: #ccc;
  background-color: #89d65d;
}

.header-title > * {
  display: inline-block;
}

.logout, .upload {
  color: white !important;
}

.masthead {
  background: #00aced;
  color: #fff;
}

.masthead p.lead {
  font-weight: 800;
  margin: 10px;
}

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background: #dfdfdf;
}

header .image-cover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center right;
     object-position: center right;
}
/*# sourceMappingURL=app.css.map */